<ion-header>
  <ion-toolbar>
    <ion-title>
        <img  style="border-radius: 50%" src="assets\quz1.png" width="80" height="80">
      QUIZ PAGE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let quiz of Questions">

    <ion-card-header>
      <ion-card-title>
        {{quiz.Question}}
      </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-list>
        <ion-radio-group (ionChange)="SetData($event,quiz)">
          <ion-item *ngFor="let Answer of quiz.option">
            <ion-label>{{Answer}}</ion-label>
            <ion-radio slot="start" value="{{Answer}}"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </ion-card-content>

  </ion-card>
 <button routerLink='/results' (click)=submit()>SUBMIT</button>
</ion-content>
